@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


body {
    background-color: #FFFFFF;
    overflow-y: hidden;
    overflow-x: hidden;
}
.contact-box {
    display: flex;
    justify-content: center;
    margin: 15px 140px 0px 140px;
    gap: 100px;
    width: 1000px;

}
.login-form {
    height: 404px;
    width: 350px;
    margin-top: 26px;
}

input{
    width: 334px;
    height: 50px;
    border: 1px solid #252525;
    border-radius: 4px;
    margin-top: 10px;
    padding-left: 7px;
    outline: none;
}
input:focus{
    box-shadow: #065451 0px 1px 1px;
}

.form-item {
    margin: 0px 0px 32px 0px;
    position: relative;
}

label {
    display: block;
    position: absolute;
    top: -18px;
    margin-left: 7px;
}
::placeholder { 
    color: #252525;
    opacity: 1; 
  }

  .validation-mail{
    display: none;
    color: red;
  }
  .validation-pw{
    display: none;
    color: red;
  }
  .animation{
    display: block;
    animation: shake 0.2s 2;
  }
  
  input:invalid {
    border: 2px solid #065451;
    animation: shake 0.2s 2;
  }
  @keyframes shake{
    25% {
        translate: 6px 0;

    }
    50%{
        translate: -6px 0;
    }
    75%{
        translate: 6px 0;
    }
  }


.visible {
    display: block;
    position: absolute;
    top: 23px;
    margin-left: 306px;
    background-color: white;
    border: none;
}
a{
    color: #065451; 
 }

.visible-hidden {
    display: block;
    position: absolute;
    top: 23px;
    margin-left: 306px;
    background-color: white;
    border: none;
}

h2 {
    font-size: 24px;

}

h4 {
    font-size: 16px;
    margin-bottom: 39px;

}
.hide {
    display: none;
}

.show {
    display: block;
}
.login-btn {
    width: 345px;
    height: 55px;
    margin-bottom: 16px;
    border-radius: 4px;
    background-color: #065451;
    color: white;
    border: none;
    transition: 0.4s;
    font-weight: 600;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, #252525 0px 8px 16px -8px; */
}




@media screen and (max-width: 768px) {}